{% extends 'base.html' %}
{% load static %}

{% block title %}教えて！この動物なんだっけ？ | What is this animal？{% endblock %}

{% block header%}
<header class="masthead text-center text-white top-content">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">What is this animal?</h1>
      <h2 class="masthead-subheading mb-0">画像を入力すると動物の詳細情報を教えてくれるサービス</h2>
      <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
    </div>
  </div>
</header>
{% endblock %}

{% block contents %}
<div class="container my-div-style">
  <div class="row">
      <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          <table class="table">
              {{ form.as_table }}
          </table>
          <button class="btn btn-primary" type="submit">作成</button>
      </form>
  </div>
  <div id="main">
    <div id="app"></div>
  </div>
</div>

{% comment %} list db {% endcomment %}
<ul>
  {% for result in results %}
    <li>
        {{result.user_id}}
        {{ result.name }}, 
        {{ result.photo_name }}</li>
  {% endfor %}
</ul>
{% comment %} list db {% endcomment %}

<script src="{% static "frontend/main.js" %}"></script>

{% endblock %}

