{% extends 'base.html' %}
{% load static %}

{% block title %}画像を入力すると解説してくれるサービス | Image Commentary{% endblock %}

{% block header%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Image Commentary</h1>
      <h2 class="masthead-subheading mb-0">画像を入力すると解説してくれるサービス（適当）</h2>
    </div>
  </div>
</header>
{% endblock %}

{% block contents %}
<div class="container my-div-style">
  <div class="row">
      <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          <table class="table">
              {{ form.as_table }}
          </table>
          <button class="btn btn-primary" type="submit">作成</button>
      </form>
  </div>
  <div id="main">
    <div id="app"></div>
  </div>
</div>
aaa
<script src="{% static "frontend/main.js" %}"></script>

{% endblock %}

